<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
	  <appSettings>
		  <add key="webpages:Version" value="2.0.0.0" />
		  <add key="webpages:Enabled" value="false" />
		  <add key="PreserveLoginUrl" value="true" />
		  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		  <add key="ClientValidationEnabled" value="true" />
		  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
		  <add key="smtpServer" value="smtp.gmail.com" />
		  <add key="EnableSsl" value = "true"/>
		  <add key="smtpPort" value="587" />
		  <add key="smtpUser" value="anchal.mathur@softappspro.com" />
		  <add key="smtpPass" value="p@sworD123#" />
		  <add key="adminEmail" value="anchal.mathur@softappspro.com" />
	  </appSettings>
  <system.net>
	  <mailSettings>
		  <smtp from="anchal.mathur@softappspro.com" deliveryMethod="Network">
			  <network
				  defaultCredentials="false"
				  host="smtp.gmail.com"
				  port="587"
				  password="p@sworD123#"
				  userName="anchal.mathur@softappspro.com"
                    />
			  <!-- When using .Net 4.0 (or later) add attribute: EnableSSL="True" and you're all set-->
		  </smtp>
	  </mailSettings>
  </system.net>
 
</configuration>